<%- include('../partials/_header') %>
<%- include('../partials/_navbar') %>

<h1>Create a new account!</h1>
<form action="/auth/sign-up" method="POST">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" placeholder="e.g. joebloggs@email.com" required>

  <label for="username">Username:</label>
  <input type="text" name="username" id="username" placeholder="e.g. joebloggs" required />

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" placeholder="Your password" required />

  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-type your password" required />

  <button type="submit">Sign up</button>
</form>

<%- include('../partials/_footer') %>