<nav>
    <div class="nav-section" id="nav-left">
        <ul>
            <li><a href="/">Home</a></li>
            <% if (user) { %>
                <li><i data-lucide="cooking-pot" class="icon-text"></i><a href="/recipes">Recipes</a></li>
                
            <% } else { %>
                
            <% } %>
        </ul>
    </div>
    <div class="nav-section" id="nav-right">
        <ul>
            <% if (user) { %>
                <li><i data-lucide="user-round" class="icon-text"></i><%= user.username %></li>
                <li><i data-lucide="log-out" class="icon-text"></i><a href="/auth/sign-out">Sign out</a></li>
            <% } else { %>
                <li><i data-lucide="user-round" class="icon-text"></i><a href="/auth/sign-up">Sign up</a></li>
                <li><i data-lucide="log-in" class="icon-text"></i><a href="/auth/sign-in">Sign in</a></li>
            <% } %>
        </ul>
    </div>
</nav>