nav {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
    padding: .5rem 1rem;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: orange;
}

.icon-text {
  color: orange;
  height: 1.25em;
  vertical-align: -0.25em;
  stroke-width: 3;
  margin: 0 .25rem;
}