nav {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}



nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    padding: .5rem 1rem;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: orange;
}

.icon-text {
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
  stroke-width: 3;
}